#blockchain{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

#block0{
  display: none;
}

ul{
  list-style: none;
  border: 5px dashed lightblue;
  overflow-wrap: break-word;
  width: 25%;
  height:fit-content;
  padding: 1%;
  margin: 2%;
  text-align: center;
}

#topButtons{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}

.header{
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: 4%;
}

button{
  border-radius: 50%;
  padding:1%;
}